@import "colors";

.about {
  .about--title {
    text-align: center;
  }

  @media only screen and (max-width: 768px) {
    .about--scroll-container {
      scrollbar-width: thin;
      overflow-x: scroll;
    }
  }

  .about--sections {
    display: flex;
    flex-flow: row;
    max-width: 1200px;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
      width: 1200px;
      margin: 0;
    }
  }
}

.about-section {
  display: block;
  margin: 1em;

  & + .about-section {
    margin-left: 0;
  }

  .about-section--image {
    width: 100%;
    height: 12em;
    object-fit: cover;
  }
}
