mixin header
  header.header#home
    nav.header--nav
      a.header--logo(href="#" alt="AspIT")
      ul.header--links
        li.header--link-item
          a.header--link(href="#about") Om AspIT
        li.header--link-item
          a.header--link(href="#") Nyheder
        li.header--link-item
          a.header--link(href="#") Kontakt
    section.header--info
      h1.header--info-title AspIT / Fokuseret talent til erhverslivet
      p.header--info-body
        | Racanas favere, tanquam fatalis brodium. Hercle, detrius regius! Nunquam demitto coordinatae.
        | Sunt fraticinidaes contactus fatalis, bi-color habenaes. Frondator de nobilis abnoba, imperium medicina!
      +button("#") Kontakt os
