@import "colors";

.quote {
  background-color: $green-dark-color;
  color: $text-light-color;

  .quote--container {
    width: 60%;
    margin: 0 auto;
    padding: 4em 0;
    text-align: right;
    display: flex;
  }

  .quote--image {
    border-radius: 50%;
  }

  .quote--body-container {
    display: flex;
    flex-flow: column;
    justify-content: center;
    margin-right: 1em;
  }

  .quote--body {
    margin: 1em 0;
  }

  .quote--name {
    color: $gray-color;
  }
}

.clearfix {
  clear: both;
}
