mixin quote()
  section.quote
    div.quote--container
      div.quote--body-container
        blockquote.quote--body
          | Pol, a bene orgia, fortis decor! Species, advena, et elogium. Cum plasmator velum, omnes humani generises
          | experientia altus, placidus cobaltumes. Pol, genetrix! Palus assimilants, tanquam grandis homo.
        span.quote--name Ole Bay Jensen, Uddannelseschef
      img(src="img/ole_bay_jensen.jpg").quote--image
