include mixins

html(lang='en')
  head
    meta(charset='utf-8')
    link(type="text/css" rel="stylesheet" href="index.css")
  body
    +header
    div.page-section#about
      +about
    +quote
    div.page-section#news
      +news
